/*
  Name: footer.css
  Description: An important css file that provides footer css styling
*/

.footer-body {
  padding: 1em;
  text-align: center;
}

.footer-top {
  padding: 0;
}

.footer-encon {
  padding: 0.5em 2em;
  text-align: center;
}

.footer-copyright {
  padding: 2em 0;
}

footer h4 {
  padding: 0.5em 0;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .footer-top {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .footer-encon {
    padding: 0.5em 2em;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .footer-encon {
    padding: 0.5em 3em;
  }
  .footer-body {
    padding-top: 3em;
  }
}

@media (min-width: 1200px) {
  .footer-encon {
    padding: 0.5em 6em;
  }
}
