/* About page all css */

/* Vertical Navigation */

/* Create a vertical navigation container class selector vertical-nav that uses the flex box model to create vertical items */

.vnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* size */
  height: 100vh;
  width: 8.33%;
}

.vnav-circle {
  /* size */
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 2em;

  /* effects */
  border-radius: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(217, 217, 217, 0) 0%,
    rgba(217, 217, 217, 0.25) 100%
  );
  box-shadow: inset 0px 5px 10px -5px #ffffff,
    inset 0px 50px 50px rgba(255, 255, 255, 0.25),
    inset 0px 0px 40px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
}

/* All about containers */
/* Create a about-main class selector */

.about-main {
  height: 80vh;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.05) 100%,
    rgba(255, 255, 255, 0.05) 100%
  );
  box-shadow: inset 0px 5px 10px -5px #ffffff,
    inset 0px 98px 100px rgba(255, 255, 255, 0.1),
    inset 0px 0px 40px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 120px;
}

/* Create about-body selector */

.about-body {
  padding: 1em;
}

.about-main-top {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
}

/* All circles */
/* Create social media circles */

.glass {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(217, 217, 217, 0.05) 0%,
    rgba(217, 217, 217, 0.05) 100%
  );
  box-shadow: inset 0px 5px 10px -5px #ffffff,
    inset 0px 50px 50px rgba(255, 255, 255, 0.25),
    inset 0px 0px 40px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
}

.sm-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  /* set display flex so that any children will be centered vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-circle img {
  width: 64px;
  height: 64px;
}

/* Create img circle */

.lg-circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;

  /* set display flex so that any children will be centered vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
}

.lg-circle img {
  width: 160px;
  height: 160px;
  border-radius: 50%;

  filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.5));
}
