/* About page all css */

/* Vertical Navigation */

/* Create a vertical navigation container class selector vertical-nav that uses the flex box model to create vertical items */

.vnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 8.33%;
}

.vnav-circle {
  width: 20px;
  height: 20px;
  display: inline-block;

  margin: 2em;
  border-radius: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(217, 217, 217, 0) 0%,
    rgba(217, 217, 217, 0.25) 100%
  );
  box-shadow: inset 0px 5px 10px -5px #ffffff,
    inset 0px 50px 50px rgba(255, 255, 255, 0.25),
    inset 0px 0px 40px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
}

/* Create a about-main class selector */

.about-main {
  height: 80vh;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.05) 100%,
    rgba(255, 255, 255, 0.05) 100%
  );
  box-shadow: inset 0px 5px 10px -5px #ffffff,
    inset 0px 98px 100px rgba(255, 255, 255, 0.1),
    inset 0px 0px 40px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 120px;
}

/* Create about-body selector */

.about-body {
  font-size: 1.5em;
  padding: 1em;
}

.about-main-top {
  /* Position these elements  */
  /* position: relative; */
  /* top: -10%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* Create social media circles */

.sm-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(217, 217, 217, 0.05) 0%,
    rgba(217, 217, 217, 0.05) 100%
  );
  box-shadow: inset 0px 5px 10px -5px #ffffff,
    inset 0px 50px 50px rgba(255, 255, 255, 0.25),
    inset 0px 0px 40px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);

  /* set display flex so that any children will be centered vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-circle img {
  filter: invert(100%);
  width: 64px;
  height: 64px;
}

/* Create img circle */

.img-circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(217, 217, 217, 0.05) 0%,
    rgba(217, 217, 217, 0.05) 100%
  );
  opacity: 0.12;
  box-shadow: inset 0px 5px 10px -5px #ffffff,
    inset 0px 50px 50px rgba(255, 255, 255, 0.25),
    inset 0px 0px 40px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);

  /* set display flex so that any children will be centered vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-circle img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}
