/*
  Name: creative.css
  Description: creative section for the webpage jack-luo.com
*/

/* 
  ========================
  Creative Section Background
  ========================  
*/

.creative-city {
  background: url("../../assets/images/bg/city3.png");
  opacity: 0.5;
  filter: blur(50px);

  /* position: static;
      top: 0;
      left: 0; */
  /* z-index: -2; */
}

.creative-angular-filter {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #1f062a 0deg,
    #142a53 360deg
  );
  opacity: 0.5;

  /* position: static;
      top: 0;
      left: 0; */
  /* z-index: -1; */
}

/* 
  ========================
  Creative Section stuff
  ========================  
*/

.creative-container {
  position: absolute;
  top: 100vh;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100vh;
  margin: 2em;
}
