/*
  Name: journey.css
  Description: Main css file for journey.html, contains page settings, background image settings
*/

/* 
  ========================
  General Website settings 
  ========================  
*/

#full-page {
  width: 100%;
}

/*
  ===================
  Section backgrounds 
  ===================  
*/

.landing-city {
  background: url("../../assets/images/bg/city4.png");
  opacity: 0.5;
  filter: blur(50px);

  /* position: static;
    top: 0;
    left: 0; */
  /* z-index: -2; */
}

.landing-angular-filter {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #1f062a 0deg,
    #142a53 360deg
  );
  opacity: 0.5;

  /* position: static;
    top: 0;
    left: 0; */
  /* z-index: -1; */
}

#landing {
  background-color: black;
}

#footer {
  background: linear-gradient(180deg, rgba(20, 18, 60, 0.8) 0%, #000000 100%),
    #000000;
  z-index: -3;
}
