/* General Website settings */

/* Set id full-page to 350vh and 100% */

#full-page {
  width: 100%;
}

/* Section backgrounds */

/* Create a black background for the id landing */

#landing {
  background-color: black;
}

/* Create a background linear-gradient(180deg, rgba(20, 18, 60, 0.8) 0%, #000000 100%) for id footer */

#footer {
  background: linear-gradient(180deg, rgba(20, 18, 60, 0.8) 0%, #000000 100%),
    #000000;
  z-index: -3;
}
