/* Basic elements */

/* Create h1 - h6 css with font Eliantro for h1, Dual for h2 - h3, PPStellar bold for h4, and PPStella for h5 - h6 with consideration of responsiveness (use em as unit and start with 6em and go down to 2em proportionally) and center the fonts */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: white;
}

h1 {
  font-family: "Elianto-Regular";
  font-size: 4em;
}

h2 {
  font-family: "Dual-300";
  font-size: 3.5em;
}

h3 {
  font-family: "Dual-300";
  font-size: 3em;
}

h4 {
  font-family: "Dual-300";
  font-size: 2em;
}

h5 {
  font-family: "Dual-300";
  font-size: 1.5em;
}

h6 {
  font-family: "Dual-300";
  font-size: 1.25em;
}

/* Other basic elements */

a {
  text-decoration: none;
  color: white;
}

/* Full page */

/* Set id full-page to 350vh and 100% */

#full-page {
  width: 100%;
  height: 350vh;
}

/* Section backgrounds */

/* Create a black background for the id landing */

#landing {
  /* position: absolute;
  top: 0;
  left: 0; */

  background-color: black;
  width: 100%;
  height: 100vh;

  /* z-index: -3; */
}

/* Create class selectors for landing-city and landing-angular-filter with landing as the back layer, landing city as the middle layer, and landing angular filter as the front layer */

.landing-city {
  /* position: static;
  top: 0;
  left: 0; */

  width: 100%;
  height: 100vh;

  background: url("../../assets/images/city.png");
  opacity: 0.5;
  filter: blur(50px);

  /* z-index: -2; */
}

.landing-angular-filter {
  /* position: static;
  top: 0;
  left: 0; */

  width: 100%;
  height: 100vh;

  background: conic-gradient(
    from 180deg at 50% 50%,
    #000000 0deg,
    #001131 360deg
  );
  opacity: 0.5;

  /* z-index: -1; */
}

.landing-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  z-index: 10;
}

/* Create a background: linear-gradient(180deg, #000000 0%, #14123C 100%) for the id about */

#about {
  background: linear-gradient(180deg, #000000 0%, #14123c 100%);
  width: 100%;
  height: 100vh;
  z-index: -3;
}

/* Create a background: linear-gradient(180deg, #000000 0%, #14123C 100%) for the id achievements */

#achievements {
  background: linear-gradient(180deg, #14123c 0%, #14123c 100%);
  width: 100%;
  height: 100vh;
  z-index: -3;
}

/* Create a background linear-gradient(180deg, rgba(20, 18, 60, 0.8) 0%, #000000 100%) for id footer */

#footer {
  background: linear-gradient(180deg, rgba(20, 18, 60, 0.8) 0%, #000000 100%);
  width: 100%;
  height: 50vh;
  z-index: -3;
}

/* Landing Page all css */

/* Nav Bar */

/* Create a parent container nav with two containers with the nav-logo being smaller at 20% and nav-container at 80%, 
have the nav-item in nav-container be a flexbox model that has all the items to the right
Have the whole nav bar has a padding of 1em and a height of 15%
*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  height: 15%;
}

.nav-logo {
  width: 20%;
}

.nav-container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  margin: 0 2em;
}

.nav-item-jl {
  font-family: "Elianto";
  font-size: 4em;

  text-align: center;
  color: #ffffff;
  text-shadow: 4px 4px 10px rgba(255, 255, 255, 0.25);
}

.nav-item-journey {
  font-family: "Dual-300";
  font-size: 2em;
  text-align: center;
  color: #ffffff;
}

.nav-item-writing {
  font-family: "Dual-300";
  font-size: 2em;
  text-align: center;
  color: #ffffff;
}

/* Landing Main */

/* Create a .landing-main-center class selector that centers all elements and put them in one line and other necessary properties */
.landing-main-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.landing-sm-handle {
  font-size: 2em;
  font-family: "Dual-300";
  text-align: center;
}

/* Create a .landing-name class selector that has a font size of 4em, a font family of Elianto, and a color of white */

.landing-name {
  width: 30%;
  font-size: 4em;
  font-family: "Elianto";
  text-align: center;
  padding: 0;
}

/* Create a .landing-image class selector that has a width of 20%, a height of 20%, a border-radius of 50%, and a margin of 0 1em */

.landing-image {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.5));
}

/* Create a .landing-status class selector that has a font size of 2em, a font family of Dual-300, and a color of white */

.landing-status {
  font-size: 1.5em;
  font-family: "Dual-300";
  text-align: center;
}
